footer-distributed{
    background-color: #01060c;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    text-align: left;
    padding: 50px 60px 40px;
    margin-top: 80px;
    overflow: hidden;
    }
    /* Footer left */
    .footer-distributed .footer-left{
    float: left;
    }
    /* The company logo */
    .footer-distributed h3{
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0 0 10px;
    }